.search-bar img{
    height: 30px;
    width: 30px;
    border-radius: 40%;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
    font-size: 30px;
}
.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.search-bar input{
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 25px;
    color: rgb(3, 2, 2);
    background-color: rgb(229, 226, 228);
    font-weight: 500;
}
.weather-icon{
    height: 140px;
    width: 140px;
    text-align: center;
    justify-content: center;
    margin-left: 17%;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.temperature{
    color: aliceblue;
    font-size: 60px;
    line-height: 1;
    margin-left: 25%;
}
.location{
    color:white;
    font-size: 20px;
    margin-left: 30%;
}
.weather-data .col1 img{
    height: 30px;
    width: 3cqw;
}
.weather-data .col2 img{
    height: 30px;
    width: 30px;
}
.weather-data .col1 span{
    display: block;
    font-size: 16px;
}